<p-card>
    <div class="p-grid sample-layout">
        <div class="p-col-12 p-md-4">
            <div class="p-col-12">
                <div class="p-grid">
                    <div class="p-col-12">
                        <img [src]="yo.foto" style="display:block; width:100%; height:auto;">
                    </div>
                    <div class="p-col-12">
                        <p-fileUpload [multiple]="false" accept="image/*" (onSelect)="onPreUpload($event)"
                            maxFileSize="1000000" invalidFileSizeMessageSummary="{0} El archivo es muy grande, "
                            invalidFileSizeMessageDetail="el tamaño permitido es {0}."
                            invalidFileTypeMessageSummary="{0} El tipo de archivo no es admitido, "
                            invalidFileTypeMessageDetail="sólo se permiten imágenes."
                            chooseLabel="Seleccionar imagen de perfil"
                            [showUploadButton]="false" [showCancelButton]="false">
                        </p-fileUpload>
                        <button pButton type="button" label="Subir imagen" icon="pi pi-upload" class="ui-button-secondary" (click)="CambiarImagen()"></button>
                        <div>{{uploadPercent | async}}</div>
                        <div>{{downloadURL | async}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-8">
            <div class="p-col-12">
                <div class="p-grid">
                    <div class="p-col-12 p-md-3">Nombre:</div>
                    <div class="p-col-12 p-md-9">{{yo.nombre}}</div>

                    <div class="p-col-12 p-md-3">Apellido:</div>
                    <div class="p-col-12 p-md-9">{{yo.apellido}}</div>

                    <div class="p-col-12 p-md-3">Correo:</div>
                    <div class="p-col-12 p-md-9">{{yo.correo}}</div>

                    <div class="p-col-12 p-md-3">Clave:</div>
                    <div class="p-col-12 p-md-9">{{yo.clave}}</div>

                    <div class="p-col-12 p-md-3" *ngIf="yo.tipoEmpleado">Tipo de empleado:</div>
                    <div class="p-col-12 p-md-9" *ngIf="yo.tipoEmpleado">{{yo.tipoEmpleado}}</div>

                    <div class="p-col-12 p-md-3" *ngIf="yo.especialidad">Especialidad:</div>
                    <div class="p-col-12 p-md-9" *ngIf="yo.especialidad">{{yo.especialidad}}</div>

                    <div class="p-col-12 p-md-3">Fecha de alta:</div>
                    <div class="p-col-12 p-md-9">{{yo.fechaAlta | date : 'dd/MM/yyyy HH:mm:ss'}}</div>
                </div>
            </div>
        </div>
    </div>
</p-card>