<p-table [columns]="cols" [value]="servTurno.turnos" columnResizeMode="expand" selectionMode="single"
    [(selection)]="selectedTurno" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="20">
    <ng-template pTemplate="caption">
        <div style="text-align:left">
            <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Nuevo"></button>
            Lista de Turnos
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'fecha'">
                Fecha
                <p-sortIcon [field]="'fecha'"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td>
                {{rowData.fecha | date : 'dd/MM/yyyy HH:mm'}}
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [closeOnEscape]="true"  header="Detalles del Turno" [(visible)]="displayDialog" [focusOnShow]="false" showEffect="fade" [modal]="true"
    [style]="{width: '60%'}">

    <div class="ui-g ui-fluid" *ngIf="turno">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="mail">Mail del cliente</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="mail" (change)="checkUsuario()" [(ngModel)]="turno.cliente_mail" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="cliente">Nombre del cliente</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="cliente" [(ngModel)]="turno.cliente_nombre" [disabled]="mail_registrado" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="especialidad">{{"especialidad" | titlecase}}</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown (onChange)="change_especialidad()" [options]="especialidades" id="especialidad" [(ngModel)]="turno.especialidad"></p-dropdown>
            </div>
        </div>
        
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="tipo">{{"tipo" | titlecase}}</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown (onChange)="change_tipo()" [options]="tipos" id="tipo" [(ngModel)]="turno.tipo"></p-dropdown>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="fecha">{{"fecha" | titlecase}}</label>
            </div>
            <div class="ui-g-8">
                <p-calendar (onClose)="change_fecha()" [(ngModel)]="turno.fecha" [minDate]="minDateValue"
                    [disabledDays]="[0]" [stepMinute]="15" [readonlyInput]="true" showTime="true" hourFormat="24" appendTo="body"
                    [locale]="es"></p-calendar>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="duracion">Duración (minutos)</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="duracion" [(ngModel)]="turno.duracion" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="especialista">{{"especialista" | titlecase}}</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown (onChange)="change_especialista()" [options]="especialistas" id="especialista" [(ngModel)]="turno.especialista_uid">
                </p-dropdown>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="sala">{{"sala" | titlecase}}</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="sala" [(ngModel)]="turno.sala" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="estado">{{"estado" | titlecase}}</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="estado" [(ngModel)]="turno.estado" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="resenia">{{"reseña" | titlecase}}</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="resenia" [(ngModel)]="turno.resenia" />
            </div>
        </div>

    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-trash" class="ui-button-danger" (click)="delete()"
                label="Borrar"></button>
            <button type="button" pButton icon="pi pi-check" class="ui-button-success" (click)="save()"
                label="Guardar"></button>
        </div>
    </p-footer>
</p-dialog>